.taxonomytreeview-page ul {
  list-style-position: inside;
  margin: 0;
}

.taxonomytreeview-page .view-empty p {
  margin: 0;
}

.taxonomytreeview-term {
  cursor: pointer;
}

.taxonomytreeview-contents {
  border-left: 1px dotted lightgrey;
  margin-left: 3px;
  padding-left: 10px;
}

.taxonomytreeview-view-container {
  padding-top: 0.2em;
}
